#content {
    flex: 1;
    margin-left: 15px;
    // margin-top: 40px;
    border-radius: var(--boder-radius);

    .header {

        display: flex;
        justify-content: end;

        ul {
            display: flex;
            justify-content: space-between;
            padding: 11px;
            flex-direction: row;
            background-color: var(--white);
            border-radius: 8px;
        }

        li {
            display: flex;
            flex-direction: column;
            padding: 10px;
            text-align: center;
            background-color: #F6F5F5;
            border-radius: 8px;
            width: 70px;
            cursor: pointer;
        }

        li + li {
            margin-left: 11px;
        }

        i {
            font-size: 17px;
        }

        span {
            margin-top: 3px;
            font-size: 14px;
            font-weight: 400;
        }

        li.active {
            background-image: linear-gradient(to right, #f86874, #FF0D49);
            color: var(--white);
        }
    }

    .container-content {
        background-color: var(--white);
        // background-color: #f86874;
        margin-top: 20px;
        height: 1000px;
        border-radius: var(--boder-radius);
    }
}


//Reponsive

@media (max-width: 1024px) {
    #content {

        .header {
            // display: none;
            ul {
            width: 100%;
            }
            
            li {
                width: auto;
                flex: 1;
            }
        }
        margin: 150px 0 0 0;
    }
}

@media (max-width: 480px) {
    
}